.Profile {
  margin-top: 250px;
}

.nav-item {
  margin-right: 10px;
}
.rounded-circle {
  max-height: 250px;
}
div.profile.main-raised.card {
  margin: 1% 10%;
  max-width: 80%;
  height: 70vh;

  /* max-height: 80%; */
}

#profile-card {
  background-color: rgba(248, 248, 255, 0.2);
  backdrop-filter: blur(10px);
  margin-top: 150px;
  min-height: 100%;
}
#comments {
  max-height: 100%;
}
/* .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */
#img-profile {
  margin-top: -100px;
  height: 20rem;
  width: auto;
}
/* .img-profile {
  height: 50%;
  width: auto;
} */
