.Profile {
  margin-top: 150px;
}

.nav-item {
  margin-right: 10px;
}
.rounded-circle {
  max-height: 250px;
}
div.profile.main-raised.card {
  margin: 1% 10%;
  max-width: 80%;
  max-height: 80%;
}

#profile-card {
  background-color: rgba(248, 248, 255, 0.2);
  backdrop-filter: blur(10px);
}
#comments {
  max-height: 100%;
}
/* .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
} */
