#main-card-landing {
  background: inherit;
  margin: 5%;
  background-color: rgba(248, 248, 255, 0.2);
  padding: 6%;
  padding-bottom: 10%;
  position: relative;
  backdrop-filter: blur(10px);
  max-height: 50%;
}
.button-main {
  top: 29%;
  left: 45%;
}
h1.text-center.title {
  font-size: 2rem;
  left: 34%;
  top: 5%;
}
h4.text-center {
  font-size: 2rem;
  top: 15%;
  left: 25%;
  /* min-width: 45rem; */
}

#text-central-main {
  margin-top: 10%;
}
.features {
  margin-top: 5%;
}
