.navbar-color-on-scroll {
  background-color: rgba(133, 133, 133, 0.639);
}
.row {
  margin-left: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://source.unsplash.com/1600x900/?crossfit");
  /* z-index:; */
  /* Full height */
  height: 120%;
  position: relative;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
  color: beige;
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #3434344a;
  }
}

.Landing {
  margin-top: 100px;
}
