.navbar-color-on-scroll {
  background-color: rgba(133, 133, 133, 0.639);
}
.row {
  margin-left: 0;
}

html,
body {
  background: url("https://source.unsplash.com/1600x900/?crossfit") no-repeat
    center center fixed;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero .nav,
.hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white;
}

.hero .subtitle {
  padding: 3rem 0;
  line-height: 1.5;
  color: beige;
}

@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #3434344a;
  }
}

.Landing {
  margin-top: 100px;
}
